* {
    margin: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    top: 0;
    z-index: 10;
    position: sticky;
    border-bottom: 1px solid;
    backdrop-filter: blur(12px);
    border-color: #374151 !important;
    background-color: rgba(32, 39, 49, 0.5);
}

section.container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

section.doc-section {
    margin-bottom: 5rem;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-inline: 24px;
    padding-block: 10px;
}

main {
    flex-grow: 1;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(17, 24, 39);
    color: rgb(243, 244, 246);
}

h1 {
    font-size: 4.5rem !important;
    font-weight: 800 !important;
    margin-bottom: 2rem !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style-type: disc;
}

code,
kbd,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

strong {
    font-weight: bolder;
}

dt {
    display: block;
    unicode-bidi: isolate;
}

footer {
    background-color: rgb(31 41 55 / 0.5);
    backdrop-filter: blur(12px);
    color: rgb(156 163 175);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

thead > tr {
    background-color: rgb(37, 49, 66) !important;
}

tr {
    border-bottom: 1px solid;
}

tr:nth-child(even) {
    background-color: rgb(34, 44, 58);
    border-color: rgb(55 65 81);
}

tr:nth-child(odd) {
    background-color: rgb(27, 36, 49);
    border-color: rgb(61, 71, 87);
}

tr:hover {
    filter: brightness(1.1);
}

th,
td {
    padding: 1rem;
}

blockquote.section-quote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-left: 4px solid rgb(55 65 81);
    color: rgb(55 65 81);
    font-style: italic;
}

ul.nav-list > li {
    list-style-type: none;
}

.container {
    max-width: 1280px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}

.section-title {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.section-subtitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.section-subsection {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.section-text:first-of-type {
    margin: 0;
}

.section-text {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.625;
    color: rgb(209 213 219);
}

.section-list {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
    list-style-type: decimal;
    list-style-position: inside;
}

.section-list > li {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.section-separator {
    margin: 1.5rem 0;
    border-top: 2px solid;
    border-color: rgb(30, 41, 65) !important;
}

.link {
    color: rgb(96 165 250);
    text-decoration: inherit;
}

.link:hover {
    text-decoration-line: underline;
}

.logo-text {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #60a5fa, #a855f7);
}

.nav-list {
    display: flex;
    gap: 3rem;
    font-size: 1.125rem;
}

a.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: ease-in-out 150ms 0s all;
}

a.nav-item:hover {
    color: rgb(81, 162, 255);
}

.title {
    background-image: linear-gradient(to right, #60a5fa, #c083fc, #f472b6);
    color: transparent;
    background-clip: text;
}

.doc-title {
    text-align: center;
    background-image: linear-gradient(to right, #60a5fa, #a855f7);
    color: transparent;
    background-clip: text;
}

.subtitle {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(209, 213, 219);
}

.btn-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 0.75rem;
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.btn:hover {
    filter: brightness(0.9);
}

.primary-btn {
    background-image: linear-gradient(to right, #2563eb, #1d4ed8);
}

.secondary-btn {
    background-image: linear-gradient(to right, #9333ea, #db2777);
}

.block {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 3rem;
    background-color: rgb(31 41 55 / 0.5);
    gap: 3rem;
    align-items: center;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0,
        25px 50px -12px rgb(0 0 0 / 0.25);
}

.subblock {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: space-between;
}

.subblock__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.subblock__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.code-block {
    margin-top: 2rem;
    padding: 1.5rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-radius: 0.5rem;
    background-color: rgb(17 24 39);
}

.code-line {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(39, 50, 66);
    border-radius: 0.25rem;
}

.hotkeys {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(31 41 55);
    border-radius: 0.25rem;
}

.example-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 2.5rem;
    gap: 2.5rem;
}

.subblock__text {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.subblock__icon {
    font-size: 3.75rem;
    line-height: 1;
    color: rgb(192 132 252);
}

.container__title {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

.block-container {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.block--small {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(31 41 55);
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.block--small__icon {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1;
}

.icon-color-blue {
    color: rgb(96 165 250);
}

.icon-color-purple {
    color: rgb(192 132 252);
}

.icon-color-gray {
    color: rgb(156 163 175);
}

.icon-color-pink {
    color: rgb(244 114 182);
}

.block--small__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.block--small__text {
    color: rgb(209 213 219);
}

.footer-link:hover {
    color: rgb(96 165 250);
}

.example-block {
    padding: 2rem;
    background-color: rgb(39, 50, 66);
    border-radius: 0.75rem;
}

.example-title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.example-text {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1.5rem;
    line-height: 2rem;
}

pre.formatted-text {
    margin-top: 1.5rem;
    padding: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: rgb(31 41 55);
    border-radius: 0.75rem;
    overflow-x: auto;
}

.example-block--small:first-of-type() {
    margin-top: 1rem;
}

.example-block--small {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.example-text--small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(31 41 55);
    border-radius: 0.25rem;
}

.faq-block > :not([hidden]) ~ :not([hidden]) {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.faq-question {
    font-weight: 600;
    font-size: 1.27rem;
    line-height: 1.75rem;
}

.faq-answer {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.download-title {
    margin-bottom: 3rem;
    color: transparent;
    font-weight: 700;
    font-size: 3rem;
    line-height: auto;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(to right, #60a5fa, #a855f7);
}

.download-text {
    margin-bottom: 4rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(209 213 219);
}

.download-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.5rem;
}

.download-block--active {
    display: grid;
    grid-template-rows: 5.25rem 2.875rem 4.25rem auto 2.375rem;
    padding: 2.5rem;
    text-align: center;
    border-width: 1px;
    border-radius: 1rem;
    border-color: rgb(55 65 81);
    background-color: rgb(31 41 55);
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.download-block {
    display: grid;
    grid-template-rows: 5.25rem 2.875rem 4.25rem auto 2.375rem;
    opacity: 0.6;
    text-align: center;
    padding: 2.5rem;
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgb(31 41 55 / 0.5);
    border-color: rgb(31 41 55);
    border-width: 1px;
    border-radius: 1rem;
}

.download-os-icon {
    font-size: 3.75rem;
    line-height: 1;
}

.download-block--active > .download-os-icon {
    color: rgb(156 163 175);
}

.download-block > .download-os-icon {
    color: rgb(107 114 128);
}

.download-os-title {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.download-os-support {
    color: rgb(209 213 219);
}

.download-btn {
    display: inline-block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    background-image: linear-gradient(to right, #16a34a, #15803d);
    border-radius: 0.75rem;
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 10px 16px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.download-btn:hover {
    filter: brightness(0.9);
}

.download-os-binary {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(156 163 175);
}

.download-text1 {
    margin-bottom: 2rem;
    color: rgb(156 163 175);
}

.download-text2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(107 114 128);
}

.download-release-container {
    text-align: center;
    margin-top: 5rem;
}

.release-text {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(209 213 219);
}

.view-release-btn {
    display: inline-block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    background-image: linear-gradient(to right, #9333ea, #db2777);
    border-radius: 0.75rem;
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.view-release-btn:hover {
    filter: brightness(0.9);
}

.animate-bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25%);
    }
}
