# ===== Go =====
/bin/
/dist/
*.exe
*.exe~
*.out
*.test
*.dll
*.so
*.dylib

# Go workspace file
go.work

# Go build cache
/pkg/
/tmp/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
*.swp

# ===== Logs =====
*.log

# ===== Website =====
website/dist/
website/gpt/