# ===== Go =====
/bin/
/dist/
*.exe
*.out
*.test

# Go build cache
/pkg/
/tmp/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
*.swp

# ===== Logs =====
*.log

# ===== Website =====
website/dist/
website/gpt/