name: Release

on:
  push:
    branches:
      - main
      - testVersionENtoUA

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build macOS binary
        run: |
          go build ./platforms/macos
