name: Release

on:
  push:
    branches:
      - main
      - testVersionENtoUA

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build macOS binary
        run: |
          go build -o keyflip-macos ./platforms/macos/main.go
